name: chaintx

services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_DB: chaintx
      POSTGRES_USER: chaintx
      POSTGRES_PASSWORD: chaintx
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U chaintx -d chaintx"]
      interval: 5s
      timeout: 3s
      retries: 10
    ports:
      - "5432:5432"
    volumes:
      - chaintx-postgres-data:/var/lib/postgresql

  app:
    build:
      context: ..
      dockerfile: build/package/Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      PORT: "8080"
      OPENAPI_SPEC_PATH: /app/api/openapi.yaml
      DATABASE_URL: postgresql://chaintx:chaintx@postgres:5432/chaintx?sslmode=disable
      PAYMENT_REQUEST_ALLOCATION_MODE: devtest
      PAYMENT_REQUEST_DEVTEST_KEYSETS_JSON: '{"ks_btc_regtest":"tpubDC2pzLGKv5DoHtRoYjJsbgESSzFqc3mtPzahMMqhH89bqqHot28MFUHkUECJrBGFb2KPQZUrApq4Ti6Y69S2K3snrsT8E5Zjt1GqTMj7xn5","ks_btc_testnet":"vpub5Xzfrm6ouSBPKVriRpkXyai4mvsHjRHq28wxS1znBCdwzLzeJUx8ruJeBnCMKs1AyqYsJ2mriQHuzxNoFtkkq94J4bJyNjGXkbZ8vCYwUy3","ks_eth_sepolia":"xpub6BfCU6SeCoGM26Ex6YKnPku57sABcfGprMzPzonYwDPi6Yd6ooHG72cvEC7XKgK1o7nUnyxydj11mXbvhHanRcRVoGhpYYuWJ3gRhPCmQKj"}'
      PAYMENT_REQUEST_DEVTEST_ALLOW_MAINNET: "false"
    ports:
      - "8080:8080"

volumes:
  chaintx-postgres-data:
